.user-info {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  min-height: 200px;
  padding: 20px;
  background-color: ghostwhite;

  &__photo {
    max-height: 150px;
    margin-right: 20px;
  }

  &__name {
    font-size: 1.6rem;
    font-weight: bold;
  }

  &__status {
    font-size: 0.9rem;
  }

  &__online {
    display: inline-block;
    margin-left: 20px;
    width: 1rem;
    height: 1rem;
    border-radius: 0.5rem;
    background-color: greenyellow;
  }
  &__offline {
    display: inline-block;
    margin-left: 20px;
    width: 1rem;
    height: 1rem;
    border-radius: 0.5rem;
    background-color: tomato;
  }

  &__item {
    display: flex;
    align-items: center;
    margin: 10px 0;
    &-name {
      color: #828282;
      width: 180px;
      margin-right: 10px;
    }
  }
}