.profile-bar {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background-color: #4a76a8;
  color: white;

  &__photo {
    width: 50px;
    border-radius: 25px;
    cursor: pointer;
  }

  &__name {
    padding-left: 20px;
    cursor: pointer;
  }
}